<!DOCTYPE <html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Length Converter</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <h1>Length Converter</h1>
    <div>
      <input
        type="number"
        id="value"
        placeholder="Enter value"
        min="0"
        step="any"
      />
      <select id="from-unit"></select>
      <span>to</span>
      <select id="to-unit"></select>
      <button id="convert-btn">Convert</button>
    </div>
    <div id="result"></div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
