{% extends "base.html" %} {% block title %}Length Converter{% endblock %} {%
block content %}

<div class="converter-card">
<h2>Length Converter</h2>
<div>
  <input
    type="number"
    id="value"
    placeholder="Enter value"
    min="0"
    step="any"
  />
  <select id="from-unit"></select>
  <span>to</span>
  <select id="to-unit"></select>
  <button id="convert-btn">Convert</button>
</div>
<div id="result"></div>
<script src="{{ url_for('static', filename='js/lengthConversion.js') }}"></script>
</div>
{% endblock %}

